{{ with getJSON (printf "https://api.microlink.io/?url=%s" (.Get "src")) }}
<div class="card" style="margin-bottom:1%;">
    <div class="card-body">
        <div class="media">
            {{ with .data.image }}
            <img src="{{ .url }}" alt="" class="yx-favicon" style="max-height:20%;max-width:30%;min-width:20%;object-fit:contain;">
            {{ else }}
            <img src="{{ .data.logo.url }}" alt="" class="yx-favicon" style="max-height:20%;max-width:20%;object-fit:scale-down;">
            {{ end }}
            <div class="media-body" style="padding-left:3%;">
                <h6><i class="las la-external-link-alt"></i> <a href="{{ .data.url }}"
                        class="stretched-link"
                        style="color:black;">{{ .data.title | title }}</a></h6>
                {{ with .data.description }}<p>{{ . | htmlUnescape | markdownify }}</p>{{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}

<!-- Reference : https://blog.kiprosh.com/using-url-previews-in-your-web-apps-using-javascript/ -->
